.form-group {
	width: 20%;
}

.params_div {
	border: 1px solid #5c5c5c;
	border-radius: 5px;
	padding: 10px;
}

header {
	text-align: center;
	color: #5c5c5c;
	padding-top: 1%;
}

#my_dataviz {
	padding: 1%;
}

.visu_div {
	padding: 1%;
}
.onglets {
	display: flex;
}
.onglet {
	border-top: 1px solid #5c5c5c;
	border-right: 1px solid #5c5c5c;
	border-left: 1px solid #5c5c5c;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
	height: 50px;
	width: 250px;
	margin-right: 5px;
	padding: 3px;
	text-align: center;
}
.graphs {
	display: none;
	width:100%;
}

@media screen and (max-width: 1250px) {
	.visu_div {
		overflow-x: scroll;
	}
}
